include ../mixins/white-card
.hero
    .hero-container
        .hero-title Heading
        .hero-description Lorem ipsum dolor sit amet, consect etur adipiscing elit.
        .hero-slider
            .hero-slider--item
                +card("Heading","Lorem ipsum dolor sit amet.","../../img/wordpress.png")
            .hero-slider--item
                +card("Heading","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenea uismod bibendum laoreet. Proin gravida dolor sit amet lacus.")
            .hero-slider--item
                +card("Ultra Mega Super Long Heading","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenea uismod bibendum laoreet. Lorem ipsum dolor sit amet")
            .hero-slider--item
                +card("Heading","Lorem ipsum dolor sit amet.","../../img/wordpress.png")
            .hero-slider--item
                +card("Heading","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenea uismod bibendum laoreet. Proin gravida dolor sit amet lacus.")

