include ../mixins/white-card

.testimonials
    .testimonials-wrapper
        .testimonials-title Heading
        .testimonials-items
            .testimonials-item
                +card("Heading","Lorem ipsum dolor sit amet.","../../img/drupal.png")
            .testimonials-item
                +card("Heading","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenea uismod bibendum laoreet. Proin gravida dolor sit amet lacus.")
            .testimonials-item
                +card("Ultra Mega Super Long Heading","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenea uismod bibendum laoreet. Lorem ipsum dolor sit amet")

