block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name='description', content='Some kind of description')
        link(rel='canonical', href='https://')
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
        meta(property='og:locale', content='pl_PL')
        meta(property='og:type', content='website')
        meta(property='og:title', content='PSD2CSS')
        meta(property='og:description', content='Some kind of description')
        meta(property='og:url', content='https://')
        meta(property='og:image', content='../../img/logo.png')
        meta(property='og:site_name', content='')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:description', content='PSD2CSS')
        meta(name='twitter:title', content='PSD2CSS')

    body

        .content
            block content

        script(src="js/main.js")
        script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        block body_end
